<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">


</head>
<body>
    <h1>Movie Search</h1>
    <form action="/movie" method="POST">
        <input type="text" value="" placeholder="Movie Title" name="msg"></input>
        <button id= 'search'>Search</button> 
    </form>
    <button id= 'save'>Save</button>
    <p class='print'>

    </p>

    <ul>
            <% for(var i=0; i<movies.length; i++) {%>
        
                        
                        <li><h2>Title: </h2><%= movies[i].movieInfo.title %></li>
                        
                        <li><h2>Rating: </h2><%= movies[i].movieInfo.rated %></li>
                        
                        <li><h2>Release Date: </h2><%= movies[i].movieInfo.released %></li>
                        
                        <li><h2>Actors: </h2><%= movies[i].movieInfo.actors %></li>
                        
                        <li><h2>Plot: </h2><%= movies[i].movieInfo.plot %></li>
   
                    <% } %>
                    
    </ul>

    
    <script src="main.js"></script>
</body>
</html>